<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;" charset="UTF-8">
    <title>Books</title>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js"></script>
</head>
<body>

<div th:if="${#authorization.expression('!isAuthenticated()')}">
    <h4>Please register or login if you have already account.</h4>
    <button id="login" th:if="${#authorization.expression('!isAuthenticated()')}">Login</button>
    <button id="register" th:if="${#authorization.expression('!isAuthenticated()')}">Register</button>
</div>

<div th:if="${#authorization.expression('isAuthenticated()')}">
    <button id="logout">Logout</button>
</div>

<div th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
    <h3>Create book</h3>

    <form id="addBook" action="/add-book" method="post">
        Title of the book: <input name="title">
        <br/>
        ISBN: <input type="text" name="isbn">
        <br/>
        Author: <input type="text" name="author">
        <br/>
        <button type="submit">Add book</button>
    </form>
</div>

<h3>Search by title or ISBN</h3>
<form id="searchForm">
    <input type="text" name="titleOrIsbn"/>
    <input type="submit" value="Search"/>
</form>

<h3>All books</h3>
<div>
    <button id="getBooks">Get all books</button>
    <button id="getFavoriteBooks" th:if="${#authorization.expression('hasAuthority(''USER'')')}">Show favorite books</button>
    <table>
        <thead>
        <th>id</th>
        <th>isbn</th>
        <th>title</th>
        <th>author</th>
        </thead>
        <tbody id="booksTable">
        </tbody>
    </table>
</div>
<script>
    $(function () {

        $(document).ready(function () {
            getBooksList();
        });

        $('#login').click(function () {
            appendToUrl("login");
        });

        $('#register').click(function () {
            appendToUrl("register");
        });

        $('#logout').click(function () {
            appendToUrl("logout");
        });

        $('#getBooks').click(function () {
            getBooksList();
        });

        $('#getFavoriteBooks').click(function () {
            getFavoriteBooksList();
        });

        $('#addBook').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'POST',
                url: '/add-book',
                dataType: 'json',
                data: JSON.stringify({
                    title: $(this).find('[name=title]').val(),
                    isbn: $(this).find('[name=isbn]').val(),
                    author: $(this).find('[name=author]').val()
                }),
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('Content-Type', 'application/json')
                },
                success: function (book) {
                    addBookToTable(book);
                }
            });
        });

        $('#searchForm').submit(function (e) {
            e.preventDefault();

            $.ajax({
                type: 'GET',
                url: '/books-list',
                dataType: 'json',
                data: {
                    titleOrIsbn: $(this).find('[name=titleOrIsbn]').val()
                },
                success: function (response) {
                    fillBooksTable(response);
                }
            });
        });
    });

    function addBookToTable(book) {
        let $books = $('#booksTable');
        $books.append('<tr><td><a href=\"/book/' + book.id + '\">' + book.id + '</a></td><td>' + book.isbn + '</td><td>' + book.title + '</td><td>' + book.author + '</td></tr>');
    }

    function fillBooksTable(response) {
        let $books = $('#booksTable');
        $books.empty();
        response.forEach(function (book) {
            addBookToTable(book);
        })
    }

    function getBooksList() {
        $.ajax({
            type: 'GET',
            url: '/books-list',
            success: function (response) {
                fillBooksTable(response);
            }
        });
    }

    function getFavoriteBooksList() {
        $.ajax({
            type: 'GET',
            url: '/books/favorite',
            success: function (response) {
                fillBooksTable(response);
            }
        });
    }

    function appendToUrl(param) {
        location.href = location.href + param;
    }

</script>
</body>
</html>